header {
    background-color: #d2b8c3;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    min-height: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.container div > p span {
    color: red;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}

.reg {
    color: white;
    background-color: rgb(148, 85, 224);
}

.log {
    color: rgb(189, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(152, 85, 224);
}

button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(189, 85, 224, 0.6);
    background-color: rgb(141, 85, 224);
}

.social-card {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    gap: 15px;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 15px;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #000000;
    transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(44, 44, 44);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    background-color : #e3c8d3;
    display : grid;
}

.search_box {
    padding-top : 10px;
    margin-bottom: 25px;
}

.search {
    padding-left: 25px;
    display: flex;
    align-items: center;
    margin : auto;
    width : 612px;
    height: 54px;
    background-color : white;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
}

.select_area {
    color : #aa44fe;
    display : flex;
    align-items: center;
    font-family: 'Roboto', sans-serif; line-height:24px;
}

.text {
    padding-left:15px;
}

.line {
    margin-left: 15px;
    border-left: 1px solid #D8D8D8;
    height: 40px;
}

.search_text {
    width: 100%;
    border: none;
    margin-left : 15px;
    font-size : 16px;
    font-family: 'Roboto', sans-serif; line-height:24px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ADB1B8;
}


.text_and-icon {
    width: 410px;
    display: flex;
    align-items: center;
}
.search_icon {
    color : #5E6573;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all .6s ease-in-out; /** Firefox **/
    -o-transition: all .6s ease-in-out; /** Opera **/
}

.search_text:focus {
    outline: none !important;
}

.search_text:focus + .search_icon{
    color : #aa44fe;
    transform: translate(55px,0);
    -webkit-transform: translate(55px,0);
    -o-transform: translate(55px,0);
    -moz-transform: translate(55px);
}

.content-card {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 245px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    background: linear-gradient(135deg, #e74e8f, #efa355);
    margin: 10px; /* проміжок між карточками */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #fff9f9;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 10;
    font-size: 32px;
}

.content .para {
    line-height: 1.5;
}

.content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 100;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
    width: 100%;
}

.card:hover {
    box-shadow: none;
}

.card:hover .btn {
    color: #212121;
    background: #e8e8e8;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}

.popular-ads-container {
    /* Стилі для контейнера популярних оголошень */
}

.popular-ads {
    display: flex;
    justify-content: space-between; /* Рівномірний розподіл між картками */
}

.popular-ads .content-card {
    /* Стилі для кожної картки популярного оголошення */
    width: calc(33.33% - 20px); /* Ширина карти */
    margin-bottom: 20px; /* Проміжок між карточками */
}

.popular-ads-container a {
    text-decoration: none; /* Вимкнення підкреслення для всіх посилань */
}

.popular-ads-container a:hover {
    /* Стилі для наведення на посилання */
    /* Наприклад, тут ви можете задати інші кольори або ефекти */
    color: #ff0000; /* Червоний колір по наведенню */
}

.category-ads-container {
    /* Стилі для контейнера популярних оголошень */
}

.category-ads {
    display: flex;
    justify-content: space-between; /* Рівномірний розподіл між картками */
}

.category-ads .content-card {
    /* Стилі для кожної картки популярного оголошення */
    width: calc(33.33% - 20px); /* Ширина карти */
    margin-bottom: 20px; /* Проміжок між карточками */
}

.category-ads-container a {
    text-decoration: none; /* Вимкнення підкреслення для всіх посилань */
}

.category-ads-container a:hover {
    /* Стилі для наведення на посилання */
    /* Наприклад, тут ви можете задати інші кольори або ефекти */
    color: #ff0000; /* Червоний колір по наведенню */
}

/* Стилі для підвалу (Footer) */
footer {
    background-color: #b99999;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-card {
    margin-top: 20px;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

/* Медіа-запит для відображення сторінки на малих екранах */
@media (max-width: 768px) {
    .search {
        width: 90%;
        max-width: 400px;
    }

    .text_and-icon {
        width: 70%;
    }

    .content-card {
        width: 90%;
        max-width: 400px;
    }

    .popular-ads .content-card,
    .category-ads .content-card {
        width: 100%;
        margin-bottom: 20px;
    }
}

.styled_section {
    background-color: #cba2b3;
    padding: 50px 0;
}

.styled_section .frontbuttens {
    color: #333;
}

.styled_section .frontbuttens button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.styled_section .new-btn-primary {
    background-color: #bf00ff;
    color: #fff;
}

.styled_section .new-btn-secondary {
    background-color: #bf00ff;
    color: #fff;
}
